DJANGO_SECRET_KEY=dev-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
GOOGLE_MAPS_API_KEY=google-maps-api-key

# Database - leave defaults to use SQLite locally
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=
DB_CONN_MAX_AGE=60
